/* Navigation */
#navbar{
   
}

/* Home section */
#home{

}

/* Services */
#services{
    margin-top: 30px;   
}
.services-container{
    margin-top: 180px;
}

/* client section */
#client-section {   
    height: 220px;
    padding-right: 0px;
    
}


/* contact us section */

/* Footer section */