*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
/* Navbar: logo and image */
.logo{
    margin: 10px 35px;
}
.logo img{
    height: 85px;
    margin: 3px 6px;
}

/* Navbar: list styling */

#navbar ul{
    display: flex;
    font-family: 'Bal0o Bhai', cursive;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
 li{
    /*color: white; */
    list-style: none;
    font-size: 1.3rem;
}
 ul li a{
    color: white; 
    display: block;
   padding: 3px 20px;
   border-radius: 20px;
   text-decoration: none;
 }
 ul li a:hover{
    color: black; 
    background-color: white;
 }
 /* Home sestion */
 #home{
     display: flex;
     flex-direction: column;
     padding: 3px 200px;
     height: 400px;
     justify-content: center;
     align-items: center;
 }
 #home::before{
    content: "";
    position: absolute;
    background: url('../images/bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
/* utility classes */
#services{
    margin: 30px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 30px;
    margin: 3px 25px;
    border-radius: 25px;
    background-color: beige;
}
#services .box img{
    height: 180px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}
/* client-section */
#client-section {   
    height: 200px;
    margin: 5px;
}
#client-section::before {
    content: "";
    position: absolute;
    background: url('../images/bg2.jpg') no-repeat center center/cover;
    width: 100%;
    height: 53%;
    z-index: -1;
    opacity: 0.6;
    margin-top: -50px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
#clients img{
    height: 140px;
}
/* contact sestion */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    
    background: url('../images/contact.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* utility classes */
#home h1{
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Baloo 2', cursive;
}
.h-primary{
    font-size: 2.8rem;
    padding:25px;
    margin-top: 120px;
    
}
.h-primary center{
    margin-top: 10px;
}

.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
    
}
.btn {
    padding: 5px 10px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 12px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}